<div class="row">
  <div class="col-md-2">
      <p-tree [value]="treeData"></p-tree>
  </div>
  <div class="col-md-10">
      <button pButton type="button" label="Run" class="ui-button-success mr-1 mt-2" (click)="startSimulation()"></button>
      <button pButton type="button" label="Stop" class="ui-button-warning mr-1 mt-2" (click)="stopSimulation()"></button>
      <button pButton type="button" label="Clear" class="ui-button-danger mr-1 mt-2" (click)="clear()"></button>
      <input [(ngModel)]="simulationTime" placeholder="2">
      <button pButton type="button" label="Apply time change" class="mr-1 mt-2" (click)="applyTimeChange()"></button>
      <div class="row mt-5">
        <p-table [value]="simulationData">
          <ng-template pTemplate="header">
            <tr>
                <th>Source</th>
                <th>Severity</th>
                <th>Type</th>
                <th>Time</th>
                <th>Message</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data.source}}</td>
                <td>{{data.severity}}</td>
                <td>{{data.type}}</td>
                <td>{{data.time | date:'h:mm a z' }}</td>
                <td>{{data.message}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
  </div>
</div>